<section>
    <form>
        <div>
            <label>Comment</label>
            <textarea name="blog-content" id="blog-content"></textarea>
        </div>
        <button class="btn">Submit</button>
    </form>
</section>