<section>
    <form class="new-blog">
        <div>
            <label>Title</label>
            <input name="blog-title" type="text" id="blog-title" ></input>
        </div>
        <div>
            <label>Content</label>
            <textarea name="blog-content" id="blog-content"></textarea>
        </div>
        <button type="submit" class="btn" id="create">Create</button>
    </form>
</section>
