<div class="col-md-6 card">
    <h2 class="card-header">Signup</h2>

    <form class="form signup-form card-body">
      <div class="form-group">
        <label for="username-signup">Username</label>
        <input class="form-input" type="text" id="username-signup" placeholder="Username" />
      </div>
      <div class="form-group">
        <label class="form-label" for="email-signup">email</label>
        <input class="form-input" type="text" id="email-signup" placeholder="bongo@bongo.com" />
      </div>
      <div class="form-group">
        <label class="form-label" for="password-signup">password</label>
        <input class="form-input" type="password" id="password-signup" placeholder="Password" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="signup-btn" type="submit">signup</button>
      </div>
    </form>
    <a href="/signUp">Log in instead</a>
  </div>

<script src="./public/JS/signup.js"></script>
