<section class="card">
    <h3 class="card-header">Edit Post</h3>
    <form class="update-form card-body">
        <div>
            <label class="form-label">Title</label>
            <input class="form-input" name="blog-title" type="text" id="blog-title" ></input>
        </div>
        <div>
            <label class="form-label">Content</label>
            <textarea  class="form-textarea form-input" name="blog-content" type="text" id="blog-content"></textarea>
        </div>
        <button type="submit" class="btn" id="update">Update Post</button>
        <button type="submit" class="btn" id="delete">Delete</button>
    </form>
</section>

<script src="/JS/update.js"></script>
