<section>
    <form>
        <div>
            <label>Title</label>
            <textarea name="blog-title" id="blog-title" ></textarea>
        </div>
        <div>
            <label>Content</label>
            <textarea name="blog-content" id="blog-content"></textarea>
        </div>
        <button class="btn">Update Post</button>
        <button class="btn">Delete</button>
    </form>
</section>