<section>
    <form class="update-form">
        <div>
            <label>Title</label>
            <input name="blog-title" type="text" id="blog-title" ></input>
        </div>
        <div>
            <label>Content</label>
            <textarea name="blog-content" type="text" id="blog-content"></textarea>
        </div>
        <button class="btn" id="update">Update Post</button>
        <button class="btn" id="delete">Delete</button>
    </form>
</section>