:root {
    --primary: #ccdad1;
    --secondary: #9caea9;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --dark: #38302e;
    --border-radius: 0.3rem;
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--primary);
    /* margin: 3rem; */
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom:0;
  }
        
        
        
        /* CARDS */
.card {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    border-top: none;
    }
          
.card-header {
    color: var(--primary);
    background-color: var(--dark);
    /* padding: 2.5%; */
    padding: 1.5%;
    border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
    }
          
.card-body {
    padding: 1.5%;
    
    }

/* #login-form {
  margin: 0 100px 20px 100px;
} */

.btn {
        font-size: 1.3rem;
        text-decoration: none;
        padding: 6px 5px;
        width: 100%;
        display: block;
        margin: 5px 0;
        border-radius: var(--border-radius);
        color: var(--primary);
        border: none;
        outline: none;
        background-color: var(--light-dark);
        box-shadow: 3px 3px var(--dark);
        transform: translate(-1px, -1px);
}

.btn:hover {
  color: var(--primary);
  background-color: var(--tertiary);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
}

    /* FORM */
.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
}

.form-input {
  width: 100%;
  /* padding: 3%; */
  padding: 1%;
/* 
  margin: 5px 0; */
  margin: 3px 0;

  font-size: 1.2rem;
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius);
}

#title {
  display: flex;
  justify-content: space-between;
}

.no-line a {
 text-decoration: none;
 color: var(--primary);
}

.card-body p {
  /* color: black; */
  color: var(--dark);

}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark);
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  color: var(--primary);
  /* padding: 3% 4%; */
  margin-bottom:4rem ;

}

header h1 {
  font-size: 3rem;
  background-color: var(--primary);
  color: var(--dark);
  border-radius: var(--border-radius);
  margin-left: 1rem;
  padding: 1rem;

}

nav{
  display:flex;
  justify-content: space-between;
  padding: 1%;
  
}
 nav a {
   text-decoration: none;
   color: var(--primary);
   margin: 1rem;
   font-size: 1.5rem;
   /* border-left: 2px solid var(--primary);
   border-right: 2px solid var(--primary); */
   padding: 5px;
 }

 .button {
   background-color: red;
   color: white;
   border-radius: var(--border-radius);
 }

.button:hover {
  background-color: var(--primary);
  color: var(--dark);
 /* transition: ease-in; */

}

.btn-1:hover {
 color: red;
}


 .flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 }

 .homepage {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
 }


 footer {
   text-align: center;
   margin-top: 5rem;
   background-color: var(--dark);
   color: var(--primary);  
   
 }

 @media screen and (max-width: 480px) {
  header,
  nav {
   flex-direction: column;
   align-items: center;
   justify-content: center;
  }

  body {
    font-size: 10px;
  }
 }

 @media screen and (max-width: 768px) {
  header,
  nav {
   flex-direction: column;
   align-items: center;
   justify-content: center;
  }
 }



 @media screen and (min-width: 640px) {
   /* header,
   nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
   } */
 }

 @media screen and (min-width: 992px) {
  /* header,
  nav {
   flex-direction: column;
   align-items: center;
   justify-content: center;
  } */
 }

 @media screen and (min-width: 1200px) {
  /* header,
  nav {
   flex-direction: column;
   align-items: center;
   justify-content: center;
  } */
 }